
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, a, abbr, address, cite, code, del, dfn, em,
img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, hr,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figure, figcaption, hgroup,
menu, footer, header, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
}
ul, li {
    list-style: none;
}

article, aside, canvas, figure, figure img, figcaption, hgroup,
footer, header, nav, section, audio, video {
    display: block;
}

a img {border: 0;}

a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: #000000; text-decoration: none}
a:active { color: #000000; text-decoration: none}
a {outline: 0;}

/* Site Style */

html {height: 100%;}

@import url(http://fonts.googleapis.com/css?family=Poiret+One);

body {
    font-family: 'Poiret One';
    margin: 0 auto 0 auto;
    height: 100%;
    color: #444;
    background-color: #E5E5E5;
    background-image: url(../img/noise.png);


    .section {
        display: block;
        margin: 0 auto;
        overflow: auto;
        width: 1200px;
    }

    #top-links ul {
        float: right;
        margin: 20px 0px;
        li{
            float: left;
            padding-left: 14px;
            color: #888;
            font-size: 16px;
            &:hover{
                color: black;
                text-shadow: #888 0 0 2px;
            }
        }
    }

    .header {
        margin: 125px auto 125px;
        text-align: center;
        h1 {
            font-size: 122px;
            letter-spacing: -6px;
            line-height: 150px;
            text-transform: uppercase;

            span {
                color: black;
            }
        }
    }
    ul.options.section {
        // Padding to allow shadows to show up
        padding: 10px;
        > li {
            float: left;
            width: 264px;
            cursor: pointer;
            &:nth-child(-n+3){
                margin: 0 48px 0 0;
            }

            p, .large-crop {
                border-style: solid;
                border-width: 2px;
                border-color: rgba(0, 0, 0, 0.3);
            }
            &:hover{
                p, .large-crop {
                    border-color: rgba(0, 0, 0, 0.5);
                    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
                }
            }
            .large-crop {
                @width:260px;
                height: 148px;
                overflow: hidden;
                img {
                    margin-bottom: -6px;
                    width: 260px;
                }
            }
            p {
                text-decoration: none;
                margin-top: 10px;
                background: #fcfcfc;
                padding: 10px;
                word-wrap: normal;
                height: 50px;
                text-align: center;
            }
        }
    }

    // Portfolio
    @hozmargin: 50px;
    @vertmargin: 50px;
    .section.portfolio-header {
        /*h1 {
            margin-left: @hozmargin;
            margin-bottom: @vertmargin / 2;
        }*/
    }
    .section.portfolio {
        background: #fcfcfc;
        border: 1px rgba(0, 0, 0, 0.3) solid;
        margin-bottom: 150px;
        padding-bottom: 30px;
        ul.clusters {
            padding: @vertmargin @hozmargin;
            > li {
                overflow: auto;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                > a {
                    display: block;
                    width: 100%;
                    overflow: auto;
                    .crop-wrap {
                        float: left;
                        padding: 3px;
                        border: 2px solid rgba(0, 0, 0, 0.5);
                        div {
                            @width: 150px;
                            @height: 100px;
                            width: @width;
                            height: @height;
                            overflow: hidden;
                            img {
                                width: @width;
                            }

                        }
                    }
                    .description{
                        float: left;
                        padding: 0 20px;
                        display: block;
                    }
                }
            }
        }
        // Individual Collections page
        ul.collection {
            margin: 50px 0;
            > li {
                float: left;
                padding-left: 32px;
                padding-bottom: 32px;
                .crop-wrap{
                    padding: 3px;
                    border: 2px solid rgba(0, 0, 0, 0.5);
                    div {
                        @width: 250px;
                        @height: 150px;
                        width: @width;
                        height: @height;
                        overflow: hidden;
                        img {
                            width: @width;
                        }
                    }
                }
            }
        }
    }

    // Light box styling
    div.pp_default div.pp_content_container .pp_description {
        font-size: 17px;
    }
    div.pp_default div.pp_content_container .currentTextHolder {
        font-size: 17px;
    }

}
