<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <title>Lilian Coutts</title>
  <link rel="stylesheet/less" href="/media/site/css/fresh.less">
  <link rel="stylesheet/less" href="/media/site/css/pretty_photo.css">
  <link href='http://fonts.googleapis.com/css?family=Antic+Didone' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="top-links" class="section">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/portfolio.html">Portfolio</a></li>
      <li><a href="/resume.pdf">Resume</a></li>
    </ul>
  </div>
  {{ content }}
  <script src="/less.js"></script>
</html>
