<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <title>Lilian Coutts</title>
  <link rel="stylesheet/less" href="/media/site/css/fresh.less">
  <link href='http://fonts.googleapis.com/css?family=Antic+Didone' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="page">
    <div id="top-links" class="section">
      <ul>
        <li><a href="#foo">Home</a></li>
        <li><a href="#foo">Portfolio</a></li>
        <li><a href="/liliancoutts.pdf">Resume</a></li>
      </ul>
    </div>
    <div class="section header">
      <h1><span>Lilian</span>Coutts</h1>
    </div>
    <ul class="section options">
      <li>
        <a href="#foo">
          <img src="http://placekitten.com/262/150">
          <p>Lorem Ipsum dolor sit amet, consec tetur adipiscing elit.</p>
        </a>
      </li>
      <li>
        <a href="#foo">
          <img src="http://placekitten.com/262/150">
          <p>Lorem Ipsum dolor sit amet, consec tetur adipiscing elit.</p>
        </a>
      </li>
      <li>
        <a href="#foo">
          <img src="http://placekitten.com/262/150">
          <p>Lorem Ipsum dolor sit amet, consec tetur adipiscing elit.</p>
        </a>
      </li>
      <li>
        <a href="#foo">
          <img src="http://placekitten.com/262/150">
          <p>Lorem Ipsum dolor sit amet, consec tetur adipiscing elit.</p>
        </a>
      </li>
    </ul>
  </div>
  <script src="less.js"></script>
</html>
