<!DOCTYPE html>

<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
  <title>Lilian Coutts</title>
  <link type="text/css" rel="stylesheet{% if site.css == 'less' %}/less{% endif %}" href="/media/site/{{ site.css }}/fresh.{{ site.css }}">
  <link href="/media/site/css/pretty_photo.css">
  <link href='http://fonts.googleapis.com/css?family=Antic+Didone' rel='stylesheet' type='text/css'>
</head>

<body>
  <div id="top-links" class="section">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/portfolio.html">Portfolio</a></li>
      <li><a href="/resume.pdf">Resume</a></li>
    </ul>
  </div>
  {{ content }}
  {% if site.css == 'less' %}
    <script src="/less.js"></script>
  {% endif %}
</html>
